*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header .container{  
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 173, 67);
    color: rgb(220, 220, 244);
    width: 100%;
    font-family: 'Ruda', sans-serif;

    padding: 28px ;
}

header .container nav{
    display: flex;
    align-items: center;
}
header .container nav li{
    list-style: none; 
    margin-right: 16px ;
}
header .container nav li a{
    text-decoration: none;
    color: rgb(220, 220, 244);

    
}
body{
   color: rgb(231, 173, 67);
   background-color: rgb(220, 220, 244);
    font-family: 'Roboto', sans-serif;
    
}

section .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px;
}
section .container  div img{
    height: 400px;
    margin-right: 100px;
    border-radius: 30px;

}

section .container div h2{
    margin-bottom: 30px;
}
section .container div p{
    margin-bottom: 30px;
}
.capas{
    
    display: flex;
    width: 200px;
   
   
}
.capas img{
    max-height: 70px;
    border-radius: 30px;
}
section .contato{
    display: flex;
    width: 100%;
}
section .contato div{
    width: 100%;
}

section .contato div form{
  
    height: 500px;
    display: flex;
    padding: 28px;
    flex-direction: column;
  


}
section .contato div form input, textarea, button{
    width: 100%;
    margin-bottom: 8px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto', sans-serif;

    background-color: rgb(248, 201, 114);
}

button:hover{
    background-color: rgb(220, 220, 244);
    cursor: pointer;
}
textarea{
    height: 200px;
    resize: none;
}

.social {
    width: 100%;
}

.social img {
    height: 40px;
    
    margin: 10px;
    cursor: pointer;
}
footer{
    padding: 28px;
    background-color: rgb(231, 173, 67);
    color: rgb(220, 220, 244);
}